@import './src/scss/variables.scss';

.numbers{
    padding: 10px;
    padding-top: 30px;
    &__wrapper{
        text-align: center;
    }
    &__title{
        margin-bottom: 25px;
        color: $textColor;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid $lightColor;
    }
    &__text{
        color: $textColor;
    }
    &__pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
    }
    &__arrow{
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: $textColor;
        color: $bgColor;
        transition: all 0.5s;
        &:hover{
            background-color: transparent;
            border-color: $textColor;
            color: $textColor;
        }
        &:disabled{
            cursor: default;
            pointer-events: none;
            opacity: 0.5;
        }
    }
}