@import '/src/scss/variables.scss';

.numbers-edit{
    padding: 10px;
    padding-top: 30px;
    @include centerVertical();
    &__container{
        max-width: 1200px;
        width: 100%;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 30px;
        color: $textColor;
    }
    &__subtitle{
        color: $textColor;
        margin-bottom: 20px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
        @media(max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
    }
    &__column{
        flex: 0 1 45%;
    }
    &__label{
        color: $lightColor;
        span{
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    &__buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__btn{
        text-align: center;
    }
    &__readonly{
        .numbers-edit__wrapper{
            justify-content: space-between;
            label{
                flex: 0 1 30%;
                p{
                    color: #000;
                }
            }
        }
    }
}