@import './src/scss/variables.scss';

.btn{
    button{
        min-width: 100px;
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: $textColor;
        color: $bgColor;
        transition: all 0.5s;
        &:hover{
            background-color: transparent;
            border-color: $textColor;
            color: $textColor;
        }
        &:disabled{
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }
    }
}